<p id="notice"><%= notice %></p>

<h1>Pricelists</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Area</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pricelists.each do |pricelist| %>
      <tr>
        <td><%= pricelist.price %></td>
        <td><%= pricelist.area_id %></td>
        <td><%= pricelist.nameArea %></td>
        <td><%= link_to 'Show', pricelist %></td>
        <td><%= link_to 'Edit', edit_pricelist_path(pricelist) %></td>
        <td><%= link_to 'Destroy', pricelist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pricelist', new_pricelist_path %>
