<p id="notice"><%= notice %></p>

<p>
  <strong>Daypm:</strong>
  <%= @paymentmanagement.dayPM %>
</p>

<p>
  <strong>Guest:</strong>
  <%= @paymentmanagement.guest %>
</p>

<p>
  <strong>Service:</strong>
  <%= @paymentmanagement.service %>
</p>

<p>
  <strong>Room:</strong>
  <%= @paymentmanagement.room %>
</p>

<p>
  <strong>Electricity:</strong>
  <%= @paymentmanagement.electricity %>
</p>

<p>
  <strong>Internet:</strong>
  <%= @paymentmanagement.internet %>
</p>

<p>
  <strong>Water:</strong>
  <%= @paymentmanagement.water %>
</p>

<p>
  <strong>Roomprice:</strong>
  <%= @paymentmanagement.roomPrice %>
</p>

<p>
  <strong>Debt:</strong>
  <%= @paymentmanagement.debt %>
</p>

<%= link_to 'Edit', edit_paymentmanagement_path(@paymentmanagement) %> |
<%= link_to 'Back', paymentmanagements_path %>
