<p id="notice"><%= notice %></p>

<p>
  <strong>Namearea:</strong>
  <%= @area.nameArea %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @area.floor %>
</p>

<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
