<%= form_with(model: roomrentalmanager, local: true) do |form| %>
  <% if roomrentalmanager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(roomrentalmanager.errors.count, "error") %> prohibited this roomrentalmanager from being saved:</h2>

      <ul>
      <% roomrentalmanager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :dayRent %>
    <%= form.date_select :dayRent %>
  </div>

  <div class="field">
    <%= form.label :statusRent %>
    <%= form.text_field :statusRent %>
  </div>

  <div class="field">
    <%= form.label :deposit %>
    <%= form.number_field :deposit %>
  </div>

  <div class="field">
    <%= form.label :guest_id %>
    <%= form.text_field :guest_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
